<p id="notice"><%= notice %></p>

<% if @meeting.errors.any? %>
      <div id="error_explanation">
        <p>ミーティングの編集に失敗しました。</p>
        <ul>
          <% @meeting.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

<h1>ミーティング編集</h1>

<h2>概要</h2>
<%= form_with(model: @meeting, url: team_meeting_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :team_id %>
    <%= form.hidden_field :team_id, value: @meeting.team.id %>
    <%= @meeting.team.name %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.collection_select :room_id, Room.all, :id, :name, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit '変更する'%>
  </div>
<% end %>

<% if current_user.organizer?(@meeting) %>
  <%= button_to 'このミーティングを中止する', team_meeting_path, method: :delete, data: { confirm: '中止してよろしいですか？' } %>
<% end %>

<br>

<h2>参加メンバー</h2>
  <% if @meeting.members.size > 0 %>
    <table>
      <thead>
        <th>Name</th>
        <th>Organizer</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @meeting.members.each do |m| %>
          <tr>
            <td><%= m.name %></td>
            <td><%= m.organizer?(@meeting) ? '○' : '' %></td>
            <% unless m.organizer?(@meeting) %>
              <td><%= button_to '会議から外す', member_team_meeting_path(member_id: m.id), method: :delete %></td>
              <td><%= button_to '幹事にする', change_organizer_team_meeting_path(member_id: m.id), method: :post %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>このミーティングに参加予定のメンバーはいません。</p>
  <% end %>

  <br>

<%= form_with(url: member_team_meeting_path(@meeting.team.id), local: true) do |form| %>
  <% unless @meeting.members.size >= @meeting.room.capacity %>
    <div class="field">
      <%= collection_select :new_member, :id, @meeting.outside_members, :id, :name, {:include_blank => true} %> <%= form.submit '参加者を追加する'%>
    </div>
    <br>
  <% else %>
    <p>会議室「<%= @meeting.room.name %>」の定員に達したため、これ以上参加者を追加できません。</p>
  <% end %>
  <br>
<% end %>

<hr>

<%= link_to '戻る', @meeting.team %>
