<p id="notice"><%= notice %></p>

<h1>Editing Meeting</h1>

<%= form_with(model: @meeting, local: true) do |form| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% @meeting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.hidden_field :team_id, value: @meeting.team.id %>
    <%= @meeting.team.name %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.collection_select :room_id, Room.all, :id, :name, :include_blank => true %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.datetime_select :end %>
  </div>

  <br>

  <h2>Members</h2>
  <% if @meeting.members.size > 0 %>
    <table>
      <thead>
        <th>Name</th>
        <th>Organizer</th>
        <th></th>
      </thead>
      <tbody>
        <% @meeting.meeting_members.each do |m| %>
          <tr>
            <td><%= m.member.name %></td>
            <td><%= m.member.organizer?(@meeting) ? '○' : '' %></td>
            <td>
              <% unless m.member.organizer?(@meeting) %>
                <%= link_to '会議から外す', m, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>このミーティングに参加予定のメンバーはいません.</p>
  <% end %>

  <br>

  <% unless @meeting.members.size == @meeting.team.members.size %>
    <div class="field">
      Join New Member：<%= collection_select :new_member, :id, @meeting.outside_members, :id, :name, {:include_blank => true} %>
    </div>
    <br>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<br>
<hr>

<%= link_to 'Back', @meeting.team %>
