<p id="notice"><%= notice %></p>


<h2>Team</h2>
<p>
  <%= @meeting.team.name %>
</p>

<h2>Name</h2>
<p>
  <%= @meeting.name %>
</p>

<h2>Room</h2>
<p>
  <%= @meeting.room.name %>
</p>

<h2>Start:</h2>
<p>
  <%= @meeting.start %>
</p>

<h2>End:</h2>
<p>
  <%= @meeting.end %>
</p>

<%= link_to 'Add Member', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', @meeting.team %>
