<p id="notice"><%= notice %></p>

<h1>TopPage</h1>

<br>

<h2>Name</h2>
<p>
  <%= @member.name %>
</p>

<br>

<h2>Affiliation Teams</h2>
<table>
  <tbody>
    <% @member.teams.each do |t| %>
      <tr>
        <td><%= link_to t.name, t %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Upcoming meetings</h2>
<% if @member.meetings.size > 0 %>
  <table>
    <thead>
      <th>Name</th>
      <th>Team</th>
      <th>Start</th>
      <th>End</th>
    </thead>
    <tbody>
      <% @member.meetings.each do |m| %>
        <tr>
          <td><%= link_to m.name, edit_meeting_path(m) %></td>
          <td><%= m.team.name %></td>
          <td><%= m.start %></td>
          <td><%= m.end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>参加予定のミーティングはありません.</p>
<% end %>

<br>
<hr>
<br>

<% if @member.owner %>
  <%= link_to 'Edit Members', members_path %>
  <br><br>
  <%= link_to 'Edit Teams', teams_path %>
  <br><br>
  <%= link_to 'Edit Rooms', rooms_path %>
  <br><br>
<% end %>

<%= link_to 'Logout', root_path %>
