<p id="notice"><%= notice %></p>

<h1>TopPage</h1>

<br>

<h2>Name</h2>
<p>
  <%= @member.name %>
</p>

<br>

<h2>Affiliation Teams</h2>
<table>
  <tbody>
    <% @member.teams.each do |t| %>
      <tr>
        <td><%= link_to t.name, t %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<br>

<% if @member.owner %>
  <%= link_to 'Edit Members', members_path %>
  <br><br>
  <%= link_to 'Edit Teams', teams_path %>
  <br><br>
  <%= link_to 'Edit Rooms', rooms_path %>
  <br><br>
<% end %>

<%= link_to 'Logout', root_path %>
