<p id="notice"><%= notice %></p>


<h2>氏名:</h2>
<p>
  <%= @member.name %>
</p>

<h2>所属チーム:</h2>

<ul>
  <% @member.teams.each do |t| %>
    <li><%= link_to t.name, t %></li>
  <% end %>
</ul>

<br>
<hr>
<br>

<%= link_to 'Logout', root_path %>

<br><br>

<% if @member.owner %>
  <%= link_to 'New Member', new_member_path %>
  <%= link_to 'Edit Member', members_path %>
  <br><br>
  <%= link_to 'New Team', new_team_path %>
  <%= link_to 'Edit Team', teams_path %>
<% end %>
