<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @member.owner %>
</p>

<%= link_to 'Back', root_path %>

<br><br>

<% if @member.owner %>
  <%= link_to 'New Member', new_member_path %>
  <br><br>
  <%= link_to 'Edit Member', members_path %>
<% end %>
